
@font-face {
    font-family: 'pelak';
    font-weight: 100;
    src: 
        url("../../fonts/pelak/PelakFA-Thin.woff2") format("woff2");
}

@font-face {
    font-family: 'pelak';
    font-weight: 200;
    src: 
        url("../../fonts/pelak/PelakFA-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'pelak';
    font-weight: 300;
    src: 
        url("../../fonts/pelak/PelakFA-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: 'pelak';
    font-weight: 400;
    src:   
        url("../../fonts/pelak/PelakFA-Bold.woff2") format("woff2");
}


