$pelak-thin: url("../../fonts/pelak/PelakFA-Thin.woff2");
$pelak-regular: url("../../fonts/pelak/PelakFA-Regular.woff2");
$pelak-semi-bold: url("../../fonts/pelak/PelakFA-SemiBold.woff2");
$pelak-bold: url("../../fonts/pelak/PelakFA-Bold.woff2");

