* {
    outline: none !important;
    font-family: pelak !important;
    font-weight: 200;
    color: #E5E5E5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}

body {
    background-color: #000;
}

a {
    color: #E5E5E5;
    text-decoration: none;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 3.6rem;
    margin-bottom: 50px;
    line-height: 60px;
    margin-right: 20px;
}



  
  
.o-scroll {
    background-color: transparent;
    overflow: hidden;
}

// h1 {
//     position: relative;
//     top: 500px;
// }

// h2 {
//     position: relative;
//     top: 550px; 
// }