.tada {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .party{
        width: 72px;
        height: 72px;
        position: relative;
        top: 100px;
        img {
            height: 100%;
            width: 100%;
            // background-image: url("../../images/party-popper.png");
            object-fit: cover;
            object-position: center;
        }
    }
    
}